body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(14, 88, 14);
    text-shadow: 2px 2px 2px rgba(7, 32, 7, 0.5);
}